body{
    box-sizing: border-box;
    margin: 0; padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #191414;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}
.logo{
    margin: 5px;
    color: #1DB954;
    font-size: 40px;

}

ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
     gap: 30px;
}

#bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    color: white;
}

.aheader{
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

a:hover{
    color: green;
}
main{
    background-color: #222d35;
    padding: 20px;
}
#login{
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin: auto;

    background-color: white;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;

}

#email #password{
    width: 100%;
    border: 1px solid darkgrey;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}

input:focus{
    border-color: green;
    outline: green;
}

.btn-login{
    color: white;
    background-color: darkgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid darkgreen;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.btn-login:hover{
    background-color: #008300;
}

.checkboxing{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#login a{
    color: green;
}


#pricing{
    display: flex;
    align-items: center;
    justify-content: center;

}
label{
    margin: 10px 0;
    font-size: 20px;
}
.plan-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    font-size: large;
    min-height: 400px;

    margin: 20px;
    min-width: 300px;
}

.plan-card ul{
    list-style: none;
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 80px;
    left: 40px;
}

.plan-card h3{
    position: absolute;
    top: 1px;
}

#PRICE1 ,#PRICE2 ,#PRICE3 {
    font-size: 20px;
    font-weight:bold ;
    position: absolute;
    top: 35px;
}

.btn-primary,.btn-outline{
    position: absolute;
    top: 350px;

    border: 1px solid green;
    border-radius: 10px;
    padding: 10px 25px;
}

.btn-outline{
    background-color: transparent;
    color: green;
}

.btn-primary{
    background-color: green;
    color: white;
}

.plan-card:hover{
    background-color: darkgreen;
    color: white;
}

.pplan{
    text-align: center;
    color: white;
    margin: 20px 0 0 0;
}

.plan-card:hover button{
    background-color: lightblue;
    color: black;
}