body{
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}


main{
  width: 100%;
  background-color: #f0f2f5;
  display: flex;  
  flex: 1;          
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  gap: 80px;
}


/*левая часть*/
.facebook_title {
    max-width: 450px;
}

.facebook_title h1 {
    color: #1877f2;
    font-size: 60px;
    margin-bottom: -18px;
}

.facebook_title p {
    font-size: 24px;
    line-height: 1.3;
}


/*правая часть*/
/*общая часть*/
.form_reg{
  width: 396px;
  text-align: center;
  font-size: 12px;
}
/*регистрация часть*/
#reg_block{
  display: flex;
  flex-direction: column;
  justify-content: center;  
  width: 100%;
  background-color: white;
  font-size: 12px;
  padding: 20px;

  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

.HRMAIN{
  border: none;
  border-top: 1px solid #dadde1;
  margin: 20px 0;
}

a,a:hover{
  color: rgb(10, 10, 249);
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
}

/*кнопки*/
.form_reg input, button{
  box-sizing: border-box;
  margin-bottom: 12px;
}
.form_reg input{
  padding: 14px 16px;
  border-radius: 6px;
  font-size: 17px;
  border: 1px solid #dddfe2
}


.form_reg button{
  padding: 14px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.enter{
  width: 100%;
  background-color: #1877F2;
  color: white;
}
.enter:hover{
  background-color: #156cdd;
}
.new_acc{
  width: 70%;
  color: white;
  background-color: #42B72A;
  margin: 0 auto; 
}
.new_acc:hover{
  background-color: #3aa225;
}

footer{
  background-color: white;
}

/*footer*/
footer{
  height: 100px;
  width: 1000px;
  color: lightgrey;
  font-size: 12px;
  margin: auto;

}
.languages{
display: flex;
padding: 10px 0 10px 10px ;
align-items: center;
}
.HRFOOTER{
  border: none;
  border-top: 1px solid #dadde1;
}
ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.plus {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 10px;
    margin-left: 5px;
}
.otherbuttons{
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

h4{
  margin-left: 40px;
  color: lightgray;
}