body{
    box-sizing: border-box;
    margin: 0; padding: 0;
    font-family: "Mona Sans", "Mona Sans Header Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";}

/*header part*/
header{
    height: 64px;
    background: white;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1280px;
    margin: 0 auto;
    padding: 12px 14px;
}

/*left part*/
.left{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#headerimg{
    height: 30px;
    width: 30px;
}

nav{
    display: flex;
    gap: 15px;
    padding:0 20px;
}
/*right part*/
.right {
    display: flex;
    flex-wrap: wrap;
    min-width: 400px;
    justify-content: center;
    align-items: center;

}

/*кнопки*/
.headerinput,
#headerbutton {
    height: 32px;        
    padding: 4px 10px;   
    border-radius: 6px;
    margin: 0 7px;
}

.headerinput{
    min-width: 300px;
    padding: 4px 10px;
    box-sizing: border-box;

    border: 1px solid lightgrey;
    color: lightgrey;
}

#headerbutton{
    min-width: 80px;

    background-color: white;
    color: rgb(39, 39, 39);
    border: 1px solid lightgrey;
}

#headerbutton:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(93, 93, 93);
}




/*main-body*/
#mbody{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*UpBody*/
.UpPart{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;   
    text-align: center;
}

#h1up{
    font-size: 70px;
    font-weight: bolder;
    margin-top: 70px;
    margin-bottom: 10px;
}
#pup{
    min-width: 1110px;
    text-align: center;
    margin: 35px 0;
}

#UpButton {
    color: white;
    background-color: black;
    border: 1px solid rgb(16, 16, 16);
    font-size: large;

    height:50px;
    box-sizing: border-box;
    padding:0 15px 0 15px;          
    border-radius: 6px;
}

#UpButton:hover{
    background-color: rgb(34, 34, 34);
    cursor: pointer;
}

/*tarifs - mainbody*/

