body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    min-height: 100vh; 
}

/*работа с мейн страницей*/
main{
    width: 100%;
    display: flex;  
    flex: 1;          
    justify-content: center;
    align-items: center;
    gap: 80px; 
    padding: 20px; 
}

/*работа -общая- с одинаковыми обьектами*/
input, button{
    box-sizing: border-box;
    margin-bottom: 12px;
}

input{
    padding: 10px 14px; 
    border-radius: 8px;
    color: #8e8e8e; 
    border: 1px solid #dbdbdb; 
    font-size: 14px; 
}

button{
    padding: 8px 16px; /* добавить отступы */
    text-align: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px; 
    font-weight: 600; /* сделать жирнее */
    width: 100%;

}
a,a:hover {
    color: black;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
a:hover{
    text-decoration: underline;
    color: rgb(13, 58, 221);
}
h1{
    font-weight: 400;
}
h6{
    font-size: 14px;
    height: 0px;
    color: rgb(37, 37, 37);
}
/*работа с левой частью страницы*/
.logo{
    max-width: 600px; 
    text-align: center;
    flex: 0 0 auto; 
    padding-left: 80px;
}
.inst_logo{
    width: 80px;
    position: absolute;
    top: 10px;
    left: 24px;
}
.gradient{
    background: linear-gradient(90deg, #ff6b35, #f7931e, #fcb045, #ff006e);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
/*работа с правой частью страницы*/
.form{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 350px; 
    padding-left: 80px; 
    border-left: 1px solid lightgrey;
    align-self: stretch; /* растягивает этот элемент */
    justify-content: center;
}

.form1{
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
 
}
.mainimg{
    width: 600px;
}

.form2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.metaimg{
    height: 29px;
    width: 52x;
}

/*стилизация кнопок*/
.enter{
    color: white;
    border-radius: 12px;
    background-color: rgb(131, 177, 234);
}
.enterfromfacebook{
    background-color: white;
    border: 1px solid lightgrey;
    text-align: center;
}
.enterfromfacebook .facebook {
    height: 10px;
    width: 10px;
    padding-right: 5px;
}

.newacc{
    background-color: white;
    color: rgb(46, 132, 253);
    border: 1px solid rgb(46, 132, 253);

}

.enterfromfacebook:hover, .newacc:hover{
    color: white;
    background-color: rgb(45, 135, 253);
}

/*hr*/
hr{
    border: none;
    border-top: 1px solid #dadde1;
}

/*футер часть*/
footer{
    display: flex;
    flex-direction: column;
    border-top: 1px solid lightgrey;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
}

ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: 10px;
    gap: 9px;
    color: rgb(145, 145, 145);
}

.lastpart{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center; 
    margin-bottom:40px ;
}

.sel{
    border: none;
    margin: auto;
    color: #8e8e8e;
}

.lasth6{
    font-size: 12px;
    margin: auto;
    color: #8e8e8e;
}